		<svg class="hidden">
			<g id="icon-grid">
				<rect x="32.5" y="5.5" width="22" height="22"/>
				<rect x="4.5" y="5.5" width="22" height="22"/>
				<rect x="32.5" y="33.5" width="22" height="22"/>
				<rect x="4.5" y="33.5" width="22" height="22"/>
			</g>
			<g id="icon-cross">
				<line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
				<line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
			</g>
		</svg>
		<%= render 'layouts/nav' %>
		<div id="container-1" class="container theme-1">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'cornfields.jpg' %>" alt="Places"/>
			<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-cornfields-car.jpg' %>" alt="item01"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-water2.jpg' %>" alt="item02"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-water.jpg' %>" alt="item03"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-sailboat.jpg' %>" alt="item04"/>
					<h2 class="item__title"></h2>
				</a>	
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'IMG_0831.JPG' %>" alt="item02"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-water.jpg' %>" alt="item03"/>
					<h2 class="item__title"></h2>
				</a>										
			</section>
		</div><!-- /container -->
		<div id="container-2" class="container theme-2">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'header-joel.jpg' %>" alt="People"/>
				<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-billy-molly.jpg' %>" alt="item01"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-bloomy.jpg' %>" alt="item02"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-bj-sign.jpg' %>" alt="item03"/>
					<h2 class="item__title"></h2>
				</a>
			</section>
		</div><!-- /container -->
		<div id="container-3" class="container">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'header-bella.jpg' %>" alt="Bella"/>
				<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="img/item01.jpg" alt="item01"/>
					<h2 class="item__title">Magnificence</h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item02.jpg" alt="item02"/>
					<h2 class="item__title">Electrifying</h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item03.jpg" alt="item03"/>
					<h2 class="item__title">Dynamic</h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item04.jpg" alt="item04"/>
					<h2 class="item__title">Crucial</h2>
				</a>
			</section>
		</div><!-- /container -->