		<svg class="hidden">
			<g id="icon-grid">
				<rect x="32.5" y="5.5" width="22" height="22"/>
				<rect x="4.5" y="5.5" width="22" height="22"/>
				<rect x="32.5" y="33.5" width="22" height="22"/>
				<rect x="4.5" y="33.5" width="22" height="22"/>
			</g>
			<g id="icon-cross">
				<line x1="4.5" y1="55.5" x2="54.953" y2="5.046"/>
				<line x1="54.953" y1="55.5" x2="4.5" y2="5.047"/>
			</g>
		</svg>
		<%= render 'layouts/nav' %>

		<div id="container-1" class="container theme-1">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'header-buildings-mirror.jpg' %>" width="100%">
			<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-cornfields-car.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-water2.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-noir.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-water.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-sailboat.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-noir-totem.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>				
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-runner.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-sears.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>				
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-mirror-sails.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-noir-building.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>				
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-barn.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-buildings-purple.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-totem-bright.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>																			
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'treasure-island.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-buildings-mirror.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-diamonds.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>									
			</section>
		</div><!-- /container -->
		<div id="container-2" class="container theme-2">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'header-joel.jpg' %>"/>
				<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-billy-molly.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-bloomy.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-joel.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>				
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-bj-sign.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="<%= asset_path 'sm-me.jpg' %>"/>
					<h2 class="item__title"></h2>
				</a>				
			</section>
		</div><!-- /container -->
		<div id="container-3" class="container">
			<header class="intro">
				<img class="intro__image" src="<%= asset_path 'header-bella.jpg' %>"/>
				<%= render 'layouts/intro' %>
			</header><!-- /intro -->
			<section class="items-wrap">
				<a href="#" class="item">
					<img class="item__image" src="img/item01.jpg"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item02.jpg"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item03.jpg"/>
					<h2 class="item__title"></h2>
				</a>
				<a href="#" class="item">
					<img class="item__image" src="img/item04.jpg"/>
					<h2 class="item__title"></h2>
				</a>
			</section>
		</div><!-- /container -->